/* General Toolbar Styles */
.toolbar {
  background-color: #028482; /* Turquesa oscuro */
  color: white;
  padding: 15px 20px;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.toolbar-section {
  flex: 1;
  margin: 0 20px;
}

.toolbar-heading {
  margin-top: 0;
  font-size: 1.3em;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.toolbar-text {
  margin: 5px 0;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icon {
  color: #ffffff;
  font-size: 1.7em;
  transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
  color: #ff5c5c; /* Rojo claro */
  transform: scale(1.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .toolbar-container {
    flex-direction: column;
    text-align: center;
  }

  .toolbar-section {
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
  }
}

